name: Auto Tech Stack

on:
  push:
    branches: [ main ]
  schedule:
    - cron: "0 0 * * *"   # mỗi ngày chạy một lần

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_ACTOR: ${{ github.actor }}

    steps:
    - uses: actions/checkout@v3

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: "18"

    - name: Run scanner
      run: |
        node scanner.js

    - name: Commit changes
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add README.md
        git commit -m "Auto update tech stack" || echo "No changes"
        git push
